aiohttp==3.7.4.post0
appdirs==1.4.4
async-timeout==3.0.1
attrs==21.2.0
cfgv==3.3.0
chardet==4.0.0
discord-py-slash-command==1.2.0
discord.py==1.7.2
distlib==0.3.2
filelock==3.0.12
identify==2.2.6
idna==3.1
multidict==5.1.0
nodeenv==1.6.0
pre-commit==2.13.0
python-dotenv==0.17.1
PyYAML==5.4.1
six==1.16.0
toml==0.10.2
typing-extensions==3.10.0.0
virtualenv==20.4.7
yarl==1.6.3
